.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .bold {
    font-weight: 600px;
  }
  
  .large {
    font-size: 24px;
  }
  
  .underlined {
    text-decoration: underline;
  }
  
  .comp-margin {
    margin-bottom: 55px;
  }
  
  .title-margin {
    margin-bottom: 12px;
  }
  
  .small-margin {
    margin-bottom: 7px;
  }
  
  .small-mr {
    margin-right: 30px;
  }
  
  .hidden {
    display: none;
  }
  
  .captcha-pos {
    position: relative;
    left: 38%;
  }
  