
$mdc-theme-primary: #1997c6;
$mdc-theme-primary-light: #62c8f9;
$mdc-theme-primary-dark: #006995;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-secondary: #252830;
$mdc-theme-secondary-light: #30343e;
$mdc-theme-secondary-dark: #000007;
$mdc-theme-on-secondary: #cfd2da;

$mdc-theme-background: #252830;
$mdc-modal-color: #24272e;
$mdc-modal-fill-color: #3b4148;

$mdc-theme-danger: #f8d7da;
$mdc-theme-on-danger: #721c24;
$mdc-theme-danger-border: #f5c6cb;

$mdc-theme-error: #E64759;